@using Todo.Models.DTO
@model Modal
@{
    var task = Model.Task;
    var actionName = task?.Id == 0 ? "Add" : "Edit";
}
<div class="modal" tabindex="-1" id="task-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@($"{actionName} task")</h5>
            </div>

            <div class="modal-body">
                <form asp-action="@actionName" asp-controller="Home" method="post">
                    <!--Id for edit task-->
                    <input type="hidden" asp-for="@task.Id" value="@(task?.Id??null)" />
                    <!--description-->
                    <div class="mb-3">
                        <label asp-for="@task.Description" class="form-label">Desciption</label>
                        <input asp-for="@task.Description" class="form-control"
                               value="@(task?.Description??"")" />
                        <span class="span-color-validation" asp-validation-for="@task.Description"></span>
                    </div>
                    <!--Category-->
                    <div class="mb-3">
                        <label asp-for="@task.CategoryId" class="form-label">Category</label>
                        <select asp-for="@task.CategoryId" class="form-select"
                                asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name", task?.CategoryId??""))">
                            <option value=""></option>
                        </select>
                        <span class="span-color-validation" asp-validation-for="@task.CategoryId"></span>

                    </div>
                    <!--Due Date-->
                    <div class="mb-3">
                        <label asp-for="@task.DueDate" class="form-label">Due Date: </label>
                        <input id="date-picker"
                               onload="setMinDateInput"
                               asp-for="@task.DueDate"
                               class="form-control"
                               value="@(task?.DueDate.Value.ToString("yyyy-MM-dd")??null)" type="date" />
                        <span class="span-color-validation" asp-validation-for="@task.DueDate"></span>

                    </div>
                    <!--Status-->
                    <div class="mb-3">
                        <label asp-for="@task.StatusId" class="form-label">Status: </label>
                        <select asp-for="@task.StatusId" class="form-select"
                                asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name",task?.StatusId??"open"))">
                        </select>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <span id="btn-modal-close"
                          class="btn btn-primary"
                          data-bs-dismiss="modal">
                        Cancle
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>



